{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
{% endblock %}

{% block javascripts %}
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock %}

{% macro render_block(block) %}
    <div class="{{ block.alignment }} {% if block.alignment == "row" %}col-{{block.children|length}}{% endif %}">
        {% for child in block.children %}
            {% if child.type == 'image' %}
                <img src="http://localhost/media/{{ child.content }}" alt="">
            {% elseif child.type == 'title' %}
                <h2 class="title">{{ child.content }}</h2>
            {% elseif child.type == 'short_text' %}
                <p>{{ child.content }}</p>
            {% elseif child.type == 'text' %}
                <div>{{ child.content|nl2br|raw }}</div>
            {% elseif child.type == 'video' %}
                <video controls autoplay muted>
                    <source src="http://localhost/media/{{ child.content }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% elseif child.type == 'layout' and child.children|length > 0 %}
                {{ _self.render_block(child) }}
            {% endif %}
        {% endfor %}
    </div>
{% endmacro %}

{% block body %}
	<div class="container">
		<div class="product-header">
			<div class="swiper gallery-slider">
				{% if product.images is not empty %}
					<div class="swiper-wrapper gallery">
						{% for image in product.images %}
							<img class="swiper-slide" src="{{ image.path }}" alt="">
						{% endfor %}
					</div>
    			{% endif %}
				<div class="swiper-nav">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
			<div class="content">
				<h1 class="title">{{ product.name }}</h1>
				<p class="short-description">{{ product.shortDescription }}</p>
				<div class="price discounted">
					<div class="current-price">{{ (product.variants[0].price / 100) | number_format(2, ',', ' ') }} €</div>
					<div class="original-price">{{ (product.variants[0].originalPrice / 100) | number_format(2, ',', ' ') }} €</div>
					<div class="discount">
						{{ ((product.variants[0].originalPrice - product.variants[0].price) / product.variants[0].originalPrice * 100) | round }}% de réduction
					</div>
					<div class="pay-in-three">Payer en 3x sans frais (3 x {{ (product.variants[0].price / 3 / 100)|round(2, "floor")|number_format(2, ',', ' ')  }} €)</div>
				</div>
				<a class="review-stars" href="#review">
					<img src="/img/star-review.svg" alt="">
					<span>(43)</span>
				</a>
				<div class="variant-wrapper">
					<div class="variant color">
						<div class="name">5 Couleurs disponibles</div>
						<div class="list">
							<label>
								<input type="radio" name="color" id="noir" value="noir" checked>
								<span class="color-item" style="background-color: #000;"></span>
							</label>
							<label>
								<input type="radio" name="color" id="vert" value="vert">
								<span class="color-item" style="background-color: #0F0;"></span>
							</label>
							<label>
								<input type="radio" name="color" id="rouge" value="rouge">
								<span class="color-item" style="background-color: #F00;"></span>
							</label>
							<label>
								<input type="radio" name="color" id="bleu" value="bleu">
								<span class="color-item" style="background-color: #00F;"></span>
							</label>
              <label>
                <input type="radio" name="color" id="jaune" value="jaune">
                <span class="color-item" style="background-color: #FF0;"></span>
              </label>
              <button class="show-more"></button>
						</div>
					</div>
          <div class="variant size">
            <div class="name">Taille</div>
            <div class="list">
              <label>
                <input type="radio" name="size" id="s" value="s" checked>
                <span class="size-item">S</span>
              </label>
              <label>
                <input type="radio" name="size" id="m" value="m">
                <span class="size-item">M</span>
              </label>
              <label>
                <input type="radio" name="size" id="l" value="l" disabled>
                <span class="size-item">L</span>
              </label>
            </div>
          </div>
				</div>
        <a class="size-guide-link" href="">Quelle est ma taille ?</a>
        <div class="model-info">
          <div class="image">
            <img src="/img/model-info.png" alt="">
          </div>
          <p>Le mannequin mesure 180 cm et porte une taille L</p>
        </div>
				<button class="add-to-cart">Ajouter au panier</button>
				<p class="shipping-reassurance">Livraison offerte</p>
			</div>
		</div>
		<div class="product-description">
			<h2 class="section-title">Description</h2>
			{% for block in product.description %}
				{{ _self.render_block(block) }}
			{% endfor %}
		</div>
		<div class="product-characteristics">
			<h2 class="section-title">Caractéristiques</h2>
			<div class="swiper characteristics-slider">
				<div class="swiper-wrapper">
					{% for feature in product.features %}
						<div class="swiper-slide">
							<div class="image">
								<img src="http://localhost/media/{{ feature.image }}" alt="">
							</div>
							<h3 class="title">{{ feature.title }}</h3>
							<p>{{ feature.description|nl2br|raw }}</p>
						</div>
					{% endfor %}
				</div>
				<div class="swiper-nav">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="product-accordion-wrapper">
			<div class="accordion">
				{% for attribute in product.attributes %}
					<details open>
						<summary>{{ attribute.name }}</summary>
						<ul>
							{% if attribute.value|length > 0 %}
								{% for value in attribute.value %}
									<li>{{ value }}</li>
								{% endfor %}
							{% else %}
								<li>{{ attribute.value|nl2br|raw }}</li>
							{% endif %}
						</ul>
					</details>
				{% endfor %}
			</div>
			<img src="http://localhost/media/{{ product.attributeImage }}" alt="">
		</div>
		<div class="product-review" id="review">
			<h2 class="section-title">AVIS CLIENT</h2>
			<img src="/img/review.jpg" alt="">
			<a href="" class="btn btn-outline">Découvrir les avis</a>
		</div>
		<div class="product-size-guide">
			<div class="content">
				<img src="/img/size-guide.svg" alt="">
				<div>
					<h2 class="title">Guide des tailles</h2>
					<p>Quelle taille me convient le mieux ?</p>
				</div>
				<a href="" class="btn btn-outline">Commencer</a>
			</div>
			<img src="/img/size-guide.jpg" alt="">
		</div>
	</div>
	<div class="product-featured">
		<div class="wrapper">
			<h2 class="title">Vous devriez aussi aimer</h2>
			<div class="swiper featured-slider">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="product-miniature">
							<img src="/img/miniature.jpg" alt="">
							<div class="tags">
								<span class="tag red">Racing</span>
								<span class="tag new">New</span>
								<span class="tag">8h</span>
								<span class="tag">Anti-abrasion</span>
								<span class="tag">Court</span>
							</div>
							<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
							<div class="price discounted">
								<div class="current-price">93,49 €</div>
								<div class="original-price">169,99 €</div>
								<div class="discount">45% de réduction</div>
							</div>
							<a class="review-stars" href="#review">
								<img src="/img/star-review.svg" alt="">
								<span>(43)</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-miniature">
							<img src="/img/miniature.jpg" alt="">
							<div class="tags">
								<span class="tag red">Racing</span>
								<span class="tag new">New</span>
								<span class="tag">8h</span>
								<span class="tag">Anti-abrasion</span>
								<span class="tag">Court</span>
							</div>
							<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
							<div class="price discounted">
								<div class="current-price">93,49 €</div>
								<div class="original-price">169,99 €</div>
								<div class="discount">45% de réduction</div>
							</div>
							<a class="review-stars" href="#review">
								<img src="/img/star-review.svg" alt="">
								<span>(43)</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-miniature">
							<img src="/img/miniature.jpg" alt="">
							<div class="tags">
								<span class="tag red">Racing</span>
								<span class="tag new">New</span>
								<span class="tag">8h</span>
								<span class="tag">Anti-abrasion</span>
								<span class="tag">Court</span>
							</div>
							<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
							<div class="price discounted">
								<div class="current-price">93,49 €</div>
								<div class="original-price">169,99 €</div>
								<div class="discount">45% de réduction</div>
							</div>
							<a class="review-stars" href="#review">
								<img src="/img/star-review.svg" alt="">
								<span>(43)</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-miniature">
							<img src="/img/miniature.jpg" alt="">
							<div class="tags">
								<span class="tag red">Racing</span>
								<span class="tag new">New</span>
								<span class="tag">8h</span>
								<span class="tag">Anti-abrasion</span>
								<span class="tag">Court</span>
							</div>
							<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
							<div class="price discounted">
								<div class="current-price">93,49 €</div>
								<div class="original-price">169,99 €</div>
								<div class="discount">45% de réduction</div>
							</div>
							<a class="review-stars" href="#review">
								<img src="/img/star-review.svg" alt="">
								<span>(43)</span>
							</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product-miniature">
							<img src="/img/miniature.jpg" alt="">
							<div class="tags">
								<span class="tag red">Racing</span>
								<span class="tag new">New</span>
								<span class="tag">8h</span>
								<span class="tag">Anti-abrasion</span>
								<span class="tag">Court</span>
							</div>
							<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
							<div class="price discounted">
								<div class="current-price">93,49 €</div>
								<div class="original-price">169,99 €</div>
								<div class="discount">45% de réduction</div>
							</div>
							<a class="review-stars" href="#review">
								<img src="/img/star-review.svg" alt="">
								<span>(43)</span>
							</a>
						</div>
					</div>
				</div>
				<div class="swiper-nav">
					<div class="swiper-button-prev"></div>
					<div class="swiper-pagination"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="product-combination">
			<div class="wrapper">
				<h2 class="title">Équipez-vous<br>
					Avec toute la tenue</h2>
				<p class="description">Le cuissard de vélo fait partie de l’équipement indispensable de tous les cyclistes qui pratiquent le vélo de route.</p>
				<div class="swiper combination-slider">
					<div class="swiper-wrapper">
						<div class="swiper-slide">
							<div class="product-miniature">
								<img src="/img/miniature.jpg" alt="">
								<div class="tags">
									<span class="tag red">Racing</span>
									<span class="tag new">New</span>
									<span class="tag">8h</span>
									<span class="tag">Anti-abrasion</span>
									<span class="tag">Court</span>
								</div>
								<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
								<div class="price discounted">
									<div class="current-price">93,49 €</div>
									<div class="original-price">169,99 €</div>
									<div class="discount">45% de réduction</div>
								</div>
								<a class="review-stars" href="#review">
									<img src="/img/star-review.svg" alt="">
									<span>(43)</span>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="product-miniature">
								<img src="/img/miniature.jpg" alt="">
								<div class="tags">
									<span class="tag red">Racing</span>
									<span class="tag new">New</span>
									<span class="tag">8h</span>
									<span class="tag">Anti-abrasion</span>
									<span class="tag">Court</span>
								</div>
								<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
								<div class="price discounted">
									<div class="current-price">93,49 €</div>
									<div class="original-price">169,99 €</div>
									<div class="discount">45% de réduction</div>
								</div>
								<a class="review-stars" href="#review">
									<img src="/img/star-review.svg" alt="">
									<span>(43)</span>
								</a>
							</div>
						</div>
						<div class="swiper-slide">
							<div class="product-miniature">
								<img src="/img/miniature.jpg" alt="">
								<div class="tags">
									<span class="tag red">Racing</span>
									<span class="tag new">New</span>
									<span class="tag">8h</span>
									<span class="tag">Anti-abrasion</span>
									<span class="tag">Court</span>
								</div>
								<h3 class="title">Cuissard EKOI 3D GEL PERF HEXA Noir</h3>
								<div class="price discounted">
									<div class="current-price">93,49 €</div>
									<div class="original-price">169,99 €</div>
									<div class="discount">45% de réduction</div>
								</div>
								<a class="review-stars" href="#review">
									<img src="/img/star-review.svg" alt="">
									<span>(43)</span>
								</a>
							</div>
						</div>
					</div>
					<div class="swiper-nav">
						<div class="swiper-button-prev"></div>
						<div class="swiper-pagination"></div>
						<div class="swiper-button-next"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
		if (window.matchMedia('(max-width: 1024px)').matches) {
const gallerySlider = new Swiper('.gallery-slider', {
loop: true,
slidesPerView: 1,
spaceBetween: 15,
autoplay: {
delay: 5000
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
}
});
}

const characteristicsSlider = new Swiper('.characteristics-slider', {
loop: true,
slidesPerView: 1,
spaceBetween: 30,
breakpoints: {
768: {
slidesPerView: 2
},
1024: {
slidesPerView: 3
}
},
pagination: {
el: '.swiper-pagination',
clickable: true
},
autoplay: {
delay: 5000
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
}
});

const combinationSlider = new Swiper('.combination-slider', {
loop: true,
slidesPerView: 1,
spaceBetween: 30,
breakpoints: {
768: {
slidesPerView: 2
},
1024: {
slidesPerView: 3
}
},
pagination: {
el: '.swiper-pagination',
clickable: true
},
autoplay: {
delay: 5000
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
}
});

const featuredSlider = new Swiper('.featured-slider', {
loop: true,
slidesPerView: 1.75,
breakpoints: {
768: {
slidesPerView: 2
},
1024: {
slidesPerView: 3
}
},
spaceBetween: 30,
pagination: {
el: '.swiper-pagination',
clickable: true
},
autoplay: {
delay: 5000
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev'
}
});

document.addEventListener("DOMContentLoaded", function () {
const combinationProduct = document.querySelector(".product-combination .combination-slider");
const combinationProductHeight = combinationProduct.offsetHeight;
combinationProduct.closest('.wrapper').style.marginBottom = `${
combinationProductHeight / 2
}px`;
combinationProduct.style.marginTop = `${
combinationProductHeight / -2
}px`;
});

const lists = document.querySelectorAll('.variant.color .list');

if (lists.length) {
  lists.forEach(list => {
    const items = list.querySelectorAll('label');
    const showMoreBtn = list.querySelector('.show-more');
    const visibleItems = 3;
      
    if (items.length > visibleItems) {
      for (let i = 0; i < visibleItems; i++) {
        items[i].style.display = 'block';
      }

      const remainingItemsCount = items.length - visibleItems;
      showMoreBtn.textContent = `+${remainingItemsCount}`;
      showMoreBtn.style.display = 'inline-block';

      showMoreBtn.addEventListener('click', function () {
        for (let i = visibleItems; i < items.length; i++) {
          items[i].style.display = 'block';
        }
        showMoreBtn.style.display = 'none';
      });
    } else {
      for (let i = 0; i < items.length; i++) {
        items[i].style.display = 'block';
      }
    }   
  });
}

</script>
{% endblock %}
